/*This is the style sheet for the Odin Recipes project */

* {
    box-sizing: border-box;
    margin: 8px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(241, 215, 180);
    color: black;
    font-size: 16px;
}

button {
    padding: 8px;
    background-color: white;
    display: inline-block;
    margin: 0 4px;
    width: 200px;
}

h1 {
    background-color: white;
    margin: 8px auto;
    padding: 20px;
    border: 4px solid black;
    text-align: center;
    width: fit-content;
}

.ingredients {
    border-top: 2px solid black;
}

img {
    display: block;
    height: auto;
    width: 600px;
    border: 4px solid black;
    margin: 16px auto;
    align-items: center;
}
.navigation {
    padding: 8px;
    text-align: center;
    width: 100%;
}

li {
    padding: 4px;
}

